@media (max-width: 770px) {
.hiddenC {
display: none;
}
.pxSM{
    padding-right: 8px;
    padding-left: 8px;
}
.layoutSM{
    width: 100%;
}

.topSM{
    margin-top: 120px;
}
}
/* Quy tắc cho màn hình từ 640px đến 1024px */
@media (min-width: 670px) and (max-width: 1024px) {
  .widthMD{width: 220px;} 
  }
/* styles.css */

/* Ẩn các điều khiển mặc định của audio */
audio::-webkit-media-controls {
    display: none !important;
  }
  audio::-webkit-media-controls-panel {
    display: none !important;
  }
  audio::-webkit-media-controls-play-button {
    display: block !important;
  }
  audio::-webkit-media-controls-start-playback-button {
    display: none !important;
  }
  